{% comment %}
//
// Product Buy Button
//
{% endcomment %}

{% comment %}
// 本来はこれを入れる
// {{ form | payment_button }}
{% endcomment %}

<div data-shopify="payment-button" class="shopify-payment-button">
	<button class="shopify-payment-button__button shopify-payment-button__button--unbranded shopify-payment-button__button--hidden" disabled="disabled" aria-hidden="true"> </button>
	<button class="shopify-payment-button__more-options shopify-payment-button__button--hidden" disabled="disabled" aria-hidden="true"> </button>
</div>


