<p class="c-menu-icon">
	<span class="c-menu-icon__img">
		<svg width="52px" height="48px" viewBox="0 0 52 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0"><g id="_COLOR" transform="translate(-610.000000, -504.000000)" fill="#FFFFFF" fill-rule="nonzero" stroke="#6A6E6F" stroke-width="2.88888889"><g id="icon-wishlist" transform="translate(610.000000, 504.000000)"><path d="M26.0000758,41.9514543 C28.202395,39.7435133 32.3235657,35.6358474 33.3829435,34.5631025 C36.3765796,31.5316931 38.5225921,29.2333395 40.3133914,27.0957592 C44.5418297,22.0485011 46.5555556,18.0859606 46.5555556,14.4575229 C46.5555556,9.31681499 43.5340574,6.09555566 38.973756,5.53998561 C34.4407673,4.98774299 29.6749611,7.27254764 27.2539635,11.5070238 L25.9999378,13.7003931 L24.7460059,11.5069702 C19.4010429,2.15736867 5.44444444,3.90252481 5.44444444,14.4575229 C5.44444444,18.0857837 7.45835201,22.0481846 11.6872701,27.0957282 C13.4780231,29.2331315 15.6237466,31.5311406 18.6178466,34.5631194 C19.6731,35.6317229 23.7955158,39.7409695 26.0000758,41.9514543 Z" id="Path"></path></g></g></g></svg>
	</span>
	<span class="c-menu-icon__text c-menu-icon__text--small">
		{{ 'general.navigation.icon_wish_list' | t }}
	</span>
</p>

