<!doctype html>
<html lang="{{ shop.locale }}">
<head>
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width">

{% include 'head' %}

{{ content_for_header }}

{% if shop.address.country_upper == 'JAPAN' %}
	<script>
		var language = (window.navigator.userLanguage || window.navigator.language || window.navigator.browserLanguage).substr(0,2) == 'ja' ? 'ja' : 'en';

		var $access = sessionStorage.getItem('access');

		if ( language != 'ja' ) {
			if ( !$access ) {
				location.href = '/en/password';
				sessionStorage.setItem('access', 0);
			}
		}
	</script>
{% else %}
	<script>
		var language = (window.navigator.userLanguage || window.navigator.language || window.navigator.browserLanguage).substr(0,2) == 'zh' ? 'zh' : 'en';
		
		var language_ja = (window.navigator.userLanguage || window.navigator.language || window.navigator.browserLanguage).substr(0,2) == 'ja' ? 'ja' : 'en';
		
		var $access = sessionStorage.getItem('access');

		if ( language != 'zh' ) {
			if ( language_ja != 'ja' ) {
				if ( !$access ) {
					location.href = '/en/password';
					sessionStorage.setItem('access', 0);
				}
			}
		}
	</script>
{% endif %}

</head>

<body>

{{ content_for_layout}}

</body>
</html>
