{% comment %}
//
// Collection Page Setting
//
{% endcomment %}

<h1 class="c-headline c-headline--first">
	<strong class="c-headline__main">{{ collection.title }}</strong>
</h1>

{%- if collection.description.size > 0 -%}
	<div class="container post-content">
		{{ collection.description }}
	</div>
{%- endif -%}


<div class="container">

	<div data-section-type="collection-page" class="c-filter">

		<div class="c-filter__item">
			{% include 'collection-category' %}
		</div>

		<div class="c-filter__item">
			<ul class="c-filter-grid">
				<li class="c-filter-grid-item">
					<a aria-label="Filter By:" href="javascript:void(0);" class="c-filter-grid-item__button c-filter-grid-item__button--column js-grid-button" data-grid="column"></a>
				</li>
				<li class="c-filter-grid-item">
					<a aria-label="Filter By:" href="javascript:void(0);" class="c-filter-grid-item__button c-filter-grid-item__button--row js-grid-button" data-grid="row"></a>
				</li>
			</ul>
		</div>

		<div class="c-filter__item">
			{% include 'collection-sort' %}
		</div>
	</div>

</div>


{%- assign pagination_amount = section.settings.products_per_page | downcase -%}
{% if collection.products.size > 0 %}

	{% paginate collection.products by pagination_amount %}

		{%- if current_tags -%}
			{%- assign canon = canonical_url | split: '/' | last -%}
			{%- assign canon_last = canon | split: '_' | last -%}
		{%- endif -%}

		<div id="collection" class="container c-product-loop p-collection-loop">
			{% for product in collection.products %}
				{%- assign cycleIndex = collection.handle -%}
					{% include 'product-loop' %}
			{% endfor %}
		</div>

		{% if paginate.pages > 1 %}
			{% include 'pagination' %}
		{% endif %}

	{% endpaginate %}

{% else %}
	<p>{{ 'collections.general.no_matches' | t }}</p>
{% endif %}


{% schema %}
{
	"name": "Collection pages",
	"settings": [
		{
			"type": "range",
			"id": "products_per_page",
			"min": 1,
			"max": 48,
			"step": 1,
			"label": "Products per page",
			"default": 24
		},
		{
			"type": "header",
			"content": "Category Filter"
		},
		{
			"type": "text",
			"id": "products_category_title",
			"label": "Category Filter Title ( Default )"
		},
		{
			"type": "text",
			"id": "products_category_title_diff",
			"label": "Category Filter Title ( Multilingual )"
		},
		{
			"type": "link_list",
			"id": "products_category",
			"label": "Category Filter Menu"
		}
	]
}
{% endschema %}